<% include header.html %>  		
		<!-- MAIN -->

		<main class="site-main shopping-cart">

            <div class="container">

                <ol class="breadcrumb-page">

                    <li><a href="/">Home </a></li>

                    <li class="active"><a href="#">FAQ</a></li>

                </ol>

            </div>

            <div class="container">

                <div class="row">

                    <div class="col-md-12">
                        <div class="row">
                            <div class="wrapper">
                                <h1>FAQs</h1>
                                <!--<div>-->
                                    <!--<div class="tab">-->
                                        <!--<input class="accordionInput" id="tab-one" type="checkbox" name="tabs">-->
                                        <!--<label class="accordionLabel"for="tab-one">Question One</label>-->
                                        <!--<div class="tab-content">-->
                                            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="tab">-->
                                        <!--<input class="accordionInput" id="tab-two" type="checkbox" name="tabs">-->
                                        <!--<label class="accordionLabel"for="tab-two">Question Two</label>-->
                                        <!--<div class="tab-content">-->
                                            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="tab">-->
                                        <!--<input class="accordionInput" id="tab-three" type="checkbox" name="tabs">-->
                                        <!--<label class="accordionLabel"for="tab-three">Question Three</label>-->
                                        <!--<div class="tab-content">-->
                                            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            </div>
                        </div>

                    </div>

                </div>

            </div>

		</main><!-- end MAIN -->
<% include footer.html %>