<% include header.html %>
<!-- MAIN -->
<main class="site-main">
  <div class="block-section-1">
    <div class="main-slide slide-opt-1 full-width">
      <div class="owl-carousel nav-style1" data-nav="true" data-autoplay="false" data-dots="true" data-loop="true" data-margin="0" data-responsive='{"0":{"items":1},"600":{"items":1},"1000":{"items":1}}'>
        <div class="item-slide item-slide-1">

        </div>
        <div class="item-slide item-slide-2">

        </div>
        <div class="item-slide item-slide-3">

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="block-section-4">
    <div class="container">
      <div class="title-of-section">Featured Products</div>
      <div class="tab-product tab-product-fade-effect">
        <ul id="featured-categories" class="box-tabs nav-tab">
          <!--<li><a data-animated="fadeInLeft" data-toggle="tab" href="#tab-2">Category 1</a></li>-->
          <!--<li><a data-animated="zoomInUp" data-toggle="tab" href="#tab-1">Category 2</a></li>-->
          <!--<li><a data-animated="zoomInUp" data-toggle="tab" href="#tab-2">Category 3</a></li>-->
          <!--<li class="active"><a data-animated="" data-toggle="tab" href="#tab-1">All Products </a></li>-->
        </ul>
        <div class="block-recent-view" id="recent_carousel_div">
          <div class="container">

            <!--*-*-*-*-*-*-*-*-*-*- BOOTSTRAP CAROUSEL *-*-*-*-*-*-*-*-*-*-->
            <div id="show_6_adv_2_gp_product_carousel" class="carousel slide three_shows_one_move gp_products_carousel_wrapper" data-ride="carousel" >
              <div class="gp_products_carousel_header">
              </div>
              <!--========= Wrapper for slides =========-->
              <div class="carousel-inner" role="listbox" >
                <!--&lt;!&ndash;========= 1st slide =========&ndash;&gt;-->
                <div class="item active">
                  <div class="col-xs-12 col-sm-4 col-md-4 gp_products_item">
                    <div class="row" id="interested-carousel">

                    </div>
                  </div>
                </div>



              </div>

              <!--======= Navigation Buttons =========-->

              <!--======= Left Button =========-->
              <a class="left carousel-control gp_products_carousel_control_left" href="#show_6_adv_2_gp_product_carousel" role="button" data-slide="prev">
                <span class="fa fa-angle-left gp_products_carousel_control_icons" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>

              <!--======= Right Button =========-->
              <a class="right carousel-control gp_products_carousel_control_right" href="#show_6_adv_2_gp_product_carousel" role="button" data-slide="next">
                <span class="fa fa-angle-right gp_products_carousel_control_icons" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>

            </div> <!--*-*-*-*-*-*-*-*-*-*- END BOOTSTRAP CAROUSEL *-*-*-*-*-*-*-*-*-*-->
          </div>
        </div>
    </div>
  </div>

  </div>
</main><!-- end MAIN -->
<% include footer.html %>