<% include header.html %>  		
		<!-- MAIN -->

		<main class="site-main shopping-cart">

            <div class="container">

                <ol class="breadcrumb-page">

                    <li><a href="/">Home </a></li>

                    <li class="active"><a href="#">My Account</a></li>

                </ol>

            </div>

            <div class="container">

                <div class="row">

                    <div class="col-md-3 padding-left-5">

                        <div class="order-summary">

                            <h4 class="title-shopping-cart">Orders</h4>

                            <div class="checkout-element-content">

                                <li>
                                    <a href="/myaccount-orders">My Orders</a>
                                </li>

                            </div>

                        </div>

                        <div class="order-summary">

                            <h4 class="title-shopping-cart">Payments</h4>

                            <div class="checkout-element-content">

                                <li>
                                    <a href="/myaccount-paytm">Paytm</a>
                                </li>

                            </div>

                        </div>

                        <div class="order-summary">

                            <h4 class="title-shopping-cart">Addresses</h4>

                            <div class="checkout-element-content">

                                <li>
                                    <a href="/myaccount-shipping">Shipping Address</a>
                                </li>
                                <li>
                                    <a href="/myaccount-billing">Billing Address</a>
                                </li>

                            </div>

                        </div>

                        <div class="order-summary">

                            <h4 class="title-shopping-cart">Settings</h4>

                            <div class="checkout-element-content">

                                <li>
                                    <a href="/myaccount-password">Change Password</a>
                                </li>
                                <li>
                                    <a href="/myaccount-contact">Update Contact Info</a>
                                </li>

                            </div>

                        </div>

                    </div>
                    <div class="col-md-9">

                        <div class="row">

                        <div class="form-group col-md-6">   

                            <label class="title">Old password</label> 

                            <input type="password" class="form-control" id="forFName" placeholder="Your old password" >

                        </div>
                        </div>
                        <div class="row">

                        <div class="form-group col-md-6">   

                            <label class="title">New Password</label> 

                            <input type="password" class="form-control" id="forFName" placeholder="Your new password" >

                        </div>
                        </div>
                        <div class="row">
                        <div class="form-group col-md-6">   

                            <label class="title">Confirm New Password</label> 

                            <input type="password" class="form-control" id="forLName" placeholder="Re-enter your new password" >

                        </div>
                        </div>
                        <div class="row">

                        <div class="form-group payment col-md-6">

                            <button type="submit" class="btn-order">Update</button>

                        </div>

                    </div>

                    </div>

                </div>

            </div>

		</main><!-- end MAIN -->
<% include footer.html %>