<% include login_header.html %>
<!-- MAIN -->
<main class="site-main site-login">

  <div class="container">

  </div>

  <div class="customer-login">

    <div class="container">

      <div class="row">


          <h5 class="title-login">Two Factor Authentication</h5>

          <p class="p-title-login">Please enter a valid OTP send to your mobile number</p>

          <form class="register" method="post">

            <p class="form-row form-row-wide">

              <label>OTP<span class="required"></span></label>

              <input id="student_otp" type="number" value="" name="student_otp" placeholder=" Type OTP here" class="input-text">

            </p>


            <!--<ul class="inline-block">-->

              <!--<li><label class="inline"><input type="checkbox"><span class="input"></span>Remember me</label></li>-->

            <!--</ul>-->

            <!--<a href="#" class="forgot-password">Forgotten password?</a>                                <p class="form-row">-->

            <input id="user-otp" type="submit" value="Submit" name="Submit" class="button-submit">

          </p>

          </form>

        </div>


      </div>

    </div>

  </div>

</main>
<!-- end MAIN -->
<% include login_footer.html %>