<% include header.html %>        
        <!-- MAIN -->
        <main class="site-main product-list product-grid">
            <div class="container">
                <ol class="breadcrumb-page">
                    <li><a href="/">Home </a></li>
                    <li class="active"><a href="#">Grid Category</a></li>
                </ol>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-sm-8 float-none float-right padding-left-5">
                        <div class="main-content">
                            <div class="toolbar-products">
                                <h4 class="title-product">Grid Category</h4>
                                <div class="toolbar-option">
                                    <div class="toolbar-per">
                                        <select class="chosen-select limiter-options form-control" id="page-limit">
                                            <option selected="selected" value="20">20 per page</option>
                                            <option value="15">15</option>
                                            <option value="30">30</option>
                                        </select>
                                    </div>
                                    <div class="modes">
                                        <a href="/shop-grid" class="active modes-mode mode-grid" title="Grid"><i class="flaticon-squares"></i>
                                            <span>Grid</span>
                                        </a>
                                        <a href="/shop-list" title="List" class="modes-mode mode-list"><i class="flaticon-interface"></i>
                                            <span>List</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="products products-list products-grid equal-container" id="shop-grid">
                                <div class="product-item style1 width-33 padding-0 col-md-3 col-sm-6 col-xs-6 equal-elem">
                                    <div class="product-inner">
                                        <div class="product-thumb">
                                            <div class="thumb-inner">
                                                <a href="#"><img src="/main/images/product/p8.jpg" alt="p8"></a>
                                            </div>
                                        </div>
                                        <div class="product-innfo">
                                            <div class="product-name"><a href="/product">Acer's Aspire S7 is a thin and portable laptop</a></div>
                                            <span class="price">
                                                <ins>Rs.229.00</ins>
                                                <del>Rs.259.00</del>
                                            </span>

                                            <div class="single-add-to-cart">
                                                <a href="#" class="btn-add-to-cart">Add to cart</a>
                                                <a href="#" class="wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i>Add to Wishlist</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="pagination">

                                <ul class="nav-links">

                                    <li class="active"><a href="#">1</a></li>

                                    <li><a href="#">2</a></li>

                                    <li><a href="#">3</a></li>

                                    <li class="back-next"><a href="#">Next</a></li>

                                </ul>

                                <span class="show-resuilt">Showing 1-8 of 12 result</span>

                            </div>

                        </div>

                    </div>

                    <div class="col-md-3 col-sm-4">

                        <div class="col-sidebar">

                            <div class="filter-options">

                                <div class="block-title">Shop by</div>

                                <div class="block-content">

                                    <div class="filter-options-item filter-categori">

                                        <div class="filter-options-title">Categories</div>

                                        <div class="filter-options-content">

                                            <ul>

                                                <li><label class="inline" ><input type="checkbox"><span class="input"></span>Home Audio & Theater</label></li>

                                                <li><label class="inline" ><input type="checkbox"><span class="input"></span>TV & Video</label></li>

                                                <li><label class="inline" ><input type="checkbox"><span class="input"></span>Camera, Photo & Video</label></li>

                                                <li><label class="inline" ><input type="checkbox"><span class="input"></span>Cell Phones & Accessories</label></li>

                                                <li><label class="inline" ><input type="checkbox"><span class="input"></span>Headphones</label></li>

                                                <li><label class="inline" ><input type="checkbox"><span class="input"></span>Video Games</label></li>

                                                <li><label class="inline" ><input type="checkbox"><span class="input"></span>Bluetooth & Wireless Speakers</label></li>

                                                <li><label class="inline" ><input type="checkbox"><span class="input"></span>Gaming Console</label></li>

                                                <li><label class="inline" ><input type="checkbox"><span class="input"></span>Computers & Tablets</label></li>

                                            </ul>

                                        </div>

                                    </div>

                                    
                                    <div class="filter-options-item filter-price">

                                        <div class="filter-options-title">Price</div>

                                        <div class="filter-options-content">

                                            <div class="price_slider_wrapper">

                                                <div data-label-reasult="Price:" data-min="0" data-max="3000" data-unit="$" class="slider-range-price " data-value-min="85" data-value-max="2000">

                                                    <span class="text-right">Filter</span>

                                                </div>

                                                <div class="price_slider_amount">

                                                    <div class="price_label">

                                                        Price: <span class="from">$85</span>-<span class="to">$2000</span>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="filter-options-item filter-size">

                                        <div class="filter-options-title">Size</div>

                                        <div class="filter-options-content">

                                            <ul>

                                                <li><label class="inline" ><input type="checkbox"><span class="input">S</span></label></li>

                                                <li><label class="inline" ><input type="checkbox"><span class="input">M</span></label></li>

                                                <li><label class="inline" ><input type="checkbox"><span class="input">L</span></label></li>

                                                <li><label class="inline" ><input type="checkbox"><span class="input">XL</span></label></li>

                                            </ul>

                                        </div>

                                    </div>

                                    <div class="filter-options-item filter-color">

                                        <div class="filter-options-title">Color</div>

                                        <div class="filter-options-content">

                                            <ul>

                                                <li><label class="inline" ><input type="checkbox"><span class="input"></span>Red<span class="value">(217)</span></label></li>

                                                <li><label class="inline" ><input type="checkbox"><span class="input"></span>Black<span class="value">(79)</span></label></li>

                                                <li><label class="inline" ><input type="checkbox"><span class="input"></span>Grey<span class="value">(116)</span></label></li>

                                                <li><label class="inline" ><input type="checkbox"><span class="input"></span>While<span class="value">(38)</span></label></li>

                                            </ul>

                                            <ul>

                                                <li><label class="inline" ><input type="checkbox"><span class="input"></span>Yellow<span class="value">(179)</span></label></li>

                                                <li><label class="inline" ><input type="checkbox"><span class="input"></span>Blue<span class="value">(283)</span></label></li>

                                                <li><label class="inline" ><input type="checkbox"><span class="input"></span>Pink<span class="value">(29)</span></label></li>

                                                <li><label class="inline" ><input type="checkbox"><span class="input"></span>Green<span class="value">(205)</span></label></li>

                                            </ul>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            
                            <div class="block-latest-roducts">

                                <div class="block-title">Latest Products</div>

                                <div class="block-latest-roducts-content">

                                    <div class="owl-carousel nav-style2" data-nav="true" data-autoplay="false" data-dots="false" data-loop="true" data-margin="0" data-responsive='{"0":{"items":1},"600":{"items":1},"1000":{"items":1}}'>
                                        <div class="owl-ones-row">

                                            <div class="product-item style1">
                                                <div class="product-inner">
                                                    <div class="product-thumb">
                                                        <div class="thumb-inner">
                                                            <a href="#"><img src="/main/images/blog/p1.jpg" alt="p1"></a>
                                                        </div>
                                                    </div>
                                                    <div class="product-innfo">
                                                        <div class="product-name"><a href="#">Leather Chelsea Boots</a></div>
                                                        <span class="price">
                                                            <ins>Rs.229.00</ins>
                                                            <del>Rs.259.00</del>
                                                        </span>
                                                        <div class="single-add-to-cart">
                                                            <a href="#" class="wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i>Add to Wishlist</a>
                                                        </div>
                                                    </div>    
                                                </div>
                                            </div>
                                            <div class="product-item style1">
                                                <div class="product-inner">
                                                    <div class="product-thumb">
                                                        <div class="thumb-inner">
                                                            <a href="#"><img src="/main/images/blog/p1.jpg" alt="p1"></a>
                                                        </div>
                                                    </div>
                                                    <div class="product-innfo">
                                                        <div class="product-name"><a href="#">Leather Chelsea Boots</a></div>
                                                        <span class="price">
                                                            <ins>Rs.229.00</ins>
                                                            <del>Rs.259.00</del>
                                                        </span>
                                                        <div class="single-add-to-cart">
                                                            <a href="#" class="wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i>Add to Wishlist</a>
                                                        </div>
                                                    </div>    
                                                </div>
                                            </div><div class="product-item style1">
                                                <div class="product-inner">
                                                    <div class="product-thumb">
                                                        <div class="thumb-inner">
                                                            <a href="#"><img src="/main/images/blog/p1.jpg" alt="p1"></a>
                                                        </div>
                                                    </div>
                                                    <div class="product-innfo">
                                                        <div class="product-name"><a href="#">Leather Chelsea Boots</a></div>
                                                        <span class="price">
                                                            <ins>Rs.229.00</ins>
                                                            <del>Rs.259.00</del>
                                                        </span>
                                                        <div class="single-add-to-cart">
                                                            <a href="#" class="wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i>Add to Wishlist</a>
                                                        </div>
                                                    </div>    
                                                </div>
                                            </div><div class="product-item style1">
                                                <div class="product-inner">
                                                    <div class="product-thumb">
                                                        <div class="thumb-inner">
                                                            <a href="#"><img src="/main/images/blog/p1.jpg" alt="p1"></a>
                                                        </div>
                                                    </div>
                                                    <div class="product-innfo">
                                                        <div class="product-name"><a href="#">Leather Chelsea Boots</a></div>
                                                        <span class="price">
                                                            <ins>Rs.229.00</ins>
                                                            <del>Rs.259.00</del>
                                                        </span>
                                                        <div class="single-add-to-cart">
                                                            <a href="#" class="wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i>Add to Wishlist</a>
                                                        </div>
                                                    </div>    
                                                </div>
                                            </div><div class="product-item style1">
                                                <div class="product-inner">
                                                    <div class="product-thumb">
                                                        <div class="thumb-inner">
                                                            <a href="#"><img src="/main/images/blog/p1.jpg" alt="p1"></a>
                                                        </div>
                                                    </div>
                                                    <div class="product-innfo">
                                                        <div class="product-name"><a href="#">Leather Chelsea Boots</a></div>
                                                        <span class="price">
                                                            <ins>Rs.229.00</ins>
                                                            <del>Rs.259.00</del>
                                                        </span>
                                                        <div class="single-add-to-cart">
                                                            <a href="#" class="wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i>Add to Wishlist</a>
                                                        </div>
                                                    </div>    
                                                </div>
                                            </div>

                                            <div class="product-item style1">

                                                <div class="product-inner">

                                                    <div class="product-thumb">

                                                        <div class="thumb-inner">

                                                            <a href="#"><img src="/main/images/blog/p4.jpg" alt="p4"></a>

                                                        </div>

                                                    </div>

                                                    <div class="product-innfo">

                                                        <div class="product-name"><a href="/product">Pullover Hoodie - Mens</a></div>

                                                        <span class="price">

                                                            <ins>Rs.229.00</ins>

                                                            <del>Rs.259.00</del>

                                                        </span>

                                                    </div>    

                                                </div>

                                            </div>
                                        </div>

                                        <div class="owl-ones-row">

                                            <div class="product-item style1">

                                                <div class="product-inner">

                                                    <div class="product-thumb">

                                                        <div class="thumb-inner">

                                                            <a href="#"><img src="/main/images/blog/p1.jpg" alt="p1"></a>

                                                        </div>

                                                    </div>

                                                    <div class="product-innfo">

                                                        <div class="product-name"><a href="/product">Leather Chelsea Boots</a></div>

                                                        <span class="price">

                                                            <ins>Rs.229.00</ins>

                                                            <del>Rs.259.00</del>

                                                        </span>

                                                    </div>    

                                                </div>
                                            </div>
                                            <div class="product-item style1">

                                                <div class="product-inner">

                                                    <div class="product-thumb">

                                                        <div class="thumb-inner">

                                                            <a href="#"><img src="/main/images/blog/p2.jpg" alt="p2"></a>

                                                        </div>

                                                    </div>

                                                    <div class="product-innfo">

                                                        <div class="product-name"><a href="/product">2750 Cotu Classic Sneakers</a></div>

                                                        <span class="price">

                                                            <ins>Rs.229.00</ins>

                                                            <del>Rs.259.00</del>

                                                        </span>

                                                    </div>    

                                                </div>
                                            </div>
                                            <div class="product-item style1">

                                                <div class="product-inner">

                                                    <div class="product-thumb">

                                                        <div class="thumb-inner">

                                                            <a href="#"><img src="/main/images/blog/p3.jpg" alt="p3"></a>

                                                        </div>

                                                    </div>

                                                    <div class="product-innfo">

                                                        <div class="product-name"><a href="/product">Thule Chasm Sport Duffel Bag</a></div>

                                                        <span class="price price-dark">

                                                                <ins>Rs.229.00</ins>

                                                            </span>

                                                    </div>    

                                                </div>
                                            </div>

                                            <div class="product-item style1">

                                                <div class="product-inner">

                                                    <div class="product-thumb">

                                                        <div class="thumb-inner">

                                                            <a href="#"><img src="/main/images/blog/p4.jpg" alt="p4"></a>

                                                        </div>

                                                    </div>

                                                    <div class="product-innfo">

                                                        <div class="product-name"><a href="/product">Pullover Hoodie - Mens</a></div>

                                                        <span class="price">

                                                            <ins>Rs.229.00</ins>

                                                            <del>Rs.259.00</del>

                                                        </span>

                                                    </div>    

                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div> 

                </div>

            </div>

            <div class="block-recent-view" id="recent_carousel_div">
                <div class="container">
                    <div class="title-of-section">New Products</div>

                    <!--*-*-*-*-*-*-*-*-*-*- BOOTSTRAP CAROUSEL *-*-*-*-*-*-*-*-*-*-->
                    <div id="show_6_adv_2_gp_product_carousel" class="carousel slide three_shows_one_move gp_products_carousel_wrapper" data-ride="carousel" data-interval="2000">

                        <div class="gp_products_carousel_header">
                            <span>CF Dolor Sit</span>
                            <a href="gp_product_carousel_advance.html#" class="pull-right">See more</a>
                        </div>

                        <!--========= Wrapper for slides =========-->
                        <div class="carousel-inner" role="listbox" id="interested-carousel">

                            <!--========= 1st slide =========-->
                            <div class="item active">
                                <div class="col-xs-12 col-sm-4 col-md-4 gp_products_item">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <div class="gp_products_inner">
                                                <div class="gp_products_item_image">
                                                    <a href="#">
                                                        <img src="/main/car_images/gp_product_001.png" alt="gp product 001" />
                                                    </a>
                                                </div>
                                                <div class="gp_products_item_caption">
                                                    <ul class="gp_products_caption_name">
                                                        <li><a href="#">Lorem ipsum dolor</a></li>
                                                        <li><a href="#">sz_themes</a></li>
                                                    </ul>
                                                    <ul class="gp_products_caption_rating">
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star-half-o"></i></li>
                                                        <li class="pull-right"><a href="#">free</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <div class="gp_products_inner">
                                                <div class="gp_products_item_image">
                                                    <a href="#">
                                                        <img src="/main/car_images/gp_product_002.png" alt="gp product 002" />
                                                    </a>
                                                </div>
                                                <div class="gp_products_item_caption">
                                                    <ul class="gp_products_caption_name">
                                                        <li><a href="#">Lorem ipsum dolor</a></li>
                                                        <li><a href="#">sz_themes</a></li>
                                                    </ul>
                                                    <ul class="gp_products_caption_rating">
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star-half-o"></i></li>
                                                        <li class="pull-right"><a href="#">free</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--======= Navigation Buttons =========-->

                        <!--======= Left Button =========-->
                        <a class="left carousel-control gp_products_carousel_control_left" href="#show_6_adv_2_gp_product_carousel" role="button" data-slide="prev">
                            <span class="fa fa-angle-left gp_products_carousel_control_icons" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                        <!--======= Right Button =========-->
                        <a class="right carousel-control gp_products_carousel_control_right" href="#show_6_adv_2_gp_product_carousel" role="button" data-slide="next">
                            <span class="fa fa-angle-right gp_products_carousel_control_icons" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>

                    </div> <!--*-*-*-*-*-*-*-*-*-*- END BOOTSTRAP CAROUSEL *-*-*-*-*-*-*-*-*-*-->
                </div>
            </div>
        </main><!-- end MAIN -->
<% include footer.html %>