<% include header.html %>  		
		<!-- MAIN -->

		<main class="site-main shopping-cart">

            <div class="container">

                <ol class="breadcrumb-page">

                    <li><a href="/">Home </a></li>
                    <li class="active"><a href="/tutorials">Tutorials</a></li>
                    <li class="active"><a href="#">Tutorial Name</a></li>
                </ol>

            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="wrapper">
                                <h1>Tutorial Name</h1>
                                <img src="/main/images/product/p8.jpg" alt="p8">
                                <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</h5>
                                Link 1<br>
                                Link 2<br>
                                Link 3
                            </div>
                        </div>
                    </div>
                </div>
            </div>

		</main><!-- end MAIN -->
<% include footer.html %>