<% include header.html %>  		
		<!-- MAIN -->

		<main class="site-main shopping-cart">

            <div class="container">

                <ol class="breadcrumb-page">

                    <li><a href="/">Home </a></li>

                    <li class="active"><a href="#">Tutorials</a></li>

                </ol>

            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="wrapper">
                                <h1>Tutorials</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="timeline" id="tutorial-timeline">

                        </ul>

                    </div>
                </div>

            </div>
		</main><!-- end MAIN -->
<% include footer.html %>